.home-page-hero-container {
  margin: 0 auto;
  background: url('../assets/images/farm-hero-image.jpg') no-repeat center center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.character-name-input {
  border-radius: 5px;
  border: solid 1px grey;
  width: 250px;
  height: 24px;
  padding: 10px;
  font-size: 24px;
  transition: 0.5s;
  background-color: rgba(34, 34, 34, 0.5);
  caret-color: lightgrey;
  color: lightgrey;
  margin-top: 100px;
}

.character-name-input:focus {
  border: solid 1px #222222;
  outline: unset;
  width: 300px;
  height: 36px;
  background-color: rgba(34, 34, 34, 0.8)
}

.character-name-input::placeholder {
  font-size: 0.7em;
  /* padding-bottom: 12px; */
  color: lightgrey;
  letter-spacing: 1px;
  /* border: solid 1px green; */
  /* display: flex;
  align-items: center;
  padding-bottom: 10px;
  line-height: 3;
  margin-top: -10px;
  z-index: 1; */
}

.home-page-welcome {
  text-shadow: 1px 1px #000;
  color: white;
  /* -webkit-text-stroke: 1px lightgrey; */
  font-size: 72pt;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: easetextin 2s;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: contain;
  opacity: 0.8;
  padding-bottom: 100px;
}

.character-name-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: contain;
  animation: easeinputin 3s;
}

@keyframes easeinputin {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes easetextin {
  /* 0% {
    left: 20%;
    opacity: 0;
  }
  10% {
    left: 10%;
    opacity: 0.2;
  }
  20% {
    left: 0;
    opacity: 1;
  }
  90% {
    left: -8%;
    opacity: 1;
  }
  100% {
    left: -20%;
    opacity: 0;
  } */
  from {
    left: 20%;
    opacity: 0;
    padding-bottom: 100px;
  }
  to {
    left: 0;
    opacity: 0.8;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 515px) {
  .home-page-welcome {
    /* padding-bottom: 250px; */
  }
  .character-name-input-container {
    padding-top: 50px;
  }
}
